<!DOCTYPE html>
<html>
  <head>
    <title>rccgmatteson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <%= link_to "About",root_path %>
     <%= link_to "Pastors_Desk", root_path %>
    <%= link_to "Gallery",root_path %>
     <%= link_to "Interact", root_path %>
    <%= link_to "Contact",root_path %>
    <%= yield %>
  </body>
</html>
